<% if flash[:errors] %>
<b> <%= flash[:errors]%> </b>
<% end %>
<br> 
<br> 
<%= form_for :session, url: login_path  do |f| %>
    <label>Enter Your Login Info:</label>
    <br><br>
    <%= f.label :username  %>
    <%= f.text_field :username  %>
    <br>
    <%= f.label :password  %>
    <%= f.password_field :password  %>
    <br>
    <br>
    <button class="button is-success is-rounded"><%= f.submit class: "form-btn"%></button>
<% end %>