<center>
<% @current_user.current_recipe_list.each do |r| %>
<ul>
    <li><b><%= r.title %></b></li>
    <li>Ready in <%= r.ready_in_minutes %> minutes</li>     
    <li><%= link_to "Full Recipe", r.source_url, target: "_blank" %></li> 
    <br>    
    <li><img src="<%= r.image %>" alt="<%= r.title %>"%></li>
    <br>
    <br>
    <li> <%= sanitize r.summary %></li>
    <br>
    <br>
</ul>
<% end %>

<div class="control">
  <button class="button is-success is-rounded"><%= button_to "More Recipes", recipes_path, :method => :get %></button>
</div> 

</center>