
<% athletic_recipes = (Recipe.all.select {|r| r.lifestyle_id == 1}).sample(3) %>
<% healthy_recipes = (Recipe.all.select {|r| r.lifestyle_id == 2}).sample(3) %>
<% foodie_recipes = (Recipe.all.select {|r| r.lifestyle_id == 3}).sample(3) %>
<% hungry_recipes = (Recipe.all.select {|r| r.lifestyle_id == 4}).sample(3) %>

<% athletic_recipes.each do |r| %>
<ul>
    <li><%= r.title %></li>
    <li><%= r.ready_in_minutes %></li>
    <li><%= link_to r.source_url %></li>
    <li><img src="<%= r.image %>"></li>
    <li><%= r.summary %></li><br><br>
</ul>
<% end %>