<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
<%= "Welcome #{@current_user.username}!" %>
<br>
<br>
</h1>

<h2 class="subtitle">

<% if @current_user.lifestyle_id %>

<h3>Looks like you're a pretty <%= "#{@current_user.lifestyle.category}" %> person.</h3>
    <br>
    <p>Click <%= link_to "here", 'recipes/index' %> to see your curated recipes!</p> 
    <br>
    <h3>Not feeling <%= "#{@current_user.lifestyle.category}" %>? Click <%= link_to "here", '/survey_results/new'%> to retake your survey!</h3>

    <%= link_to "MealKit Options", '/meal_kits', method: :get%> 

<% else %>

    <p>It looks like you haven't taken a survey yet. Please take it <%= link_to " here!", new_survey_result_path %></p>

    
<% end %>
      </h2>
    </div>
  </div>
</section>