

<%= form_for :survey do |f| %>
  <p>What do you like to do in your free time?</p>
    <%= f.radio_button :answer, 'athletic'%> 
    <%= label_tag 'Workout' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Grab a smoothie, duh' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Go to the triendiest restaurant' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'Lounge at home' %>
    <br>
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_1 do |f| %>
  <p>If you had a chance to travel anywhere in the world, where would you go?</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'Marathoning in Berlin' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Spa in Iceland' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Winery tour in Italy' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'Vegas Debauchery Weekend' %>
    <br> 
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_2 do |f| %>
  <p>Pick your favorite cuisine:</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'Greek' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Mediterranean' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'French' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'American' %>
    <br>
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_3 do |f| %>
  <p>How adventurous are you?</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'VERY' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Sometimes..' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Not at all.' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag "What's does that even mean?" %>
    <br>
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_4 do |f| %>
  <p>If you were stranded on an island, what would you bring?</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'Pair of running shoes' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Smoothie and sunscreen' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Best bottle of wine' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'Uh, a sandwich.' %>
    <br>
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_5 do |f| %>
  <p>What was the last genre of book you read?</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'Outdoor or Sports' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Nutrition' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Food' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'Fiction' %>
    <br>
    <%= f.submit 'Submit' %>
    <br><br>
<% end %>

<%= form_for :survey_6 do |f| %>
  <p>If you could sit down with a cultural figure, who would it be?</p>
    <%= f.radio_button :answer, 'athletic' %> 
    <%= label_tag 'Michael Jordan' %>
    <br>
    <%= f.radio_button :answer, 'healthy' %>
    <%= label_tag 'Gweneth Paltrow' %>
    <br>
    <%= f.radio_button :answer, 'foodie' %>
    <%= label_tag 'Gordon Ramsey' %>
    <br>
    <%= f.radio_button :answer, 'hungry' %>
    <%= label_tag 'Kim Kardashian' %>
    <br>
    <%= f.submit 'Submit' %>
    
<% end %>
