<!DOCTYPE html>
<html>
  <head>
    <title>Tailor ME(nu)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="hero is-info is-small">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
            <button class="button is-link">
              <%=button_to "Home", users_path%></button>
            </a>
            <a class="navbar-item">
            <button class="button is-link">
              <%=button_to "Log In", new_login_path%></button>
            </a>
            <a class="navbar-item">
            <button class="button is-link">
              <%=button_to "Sign Up", new_user_path%></button>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        Tailor ME(nu)
      </p>
      <p class="subtitle">
        Curated recipes, based on your lifestyle.
      </p>
    </div>
  </div>

</section>
  <br>
    <%= yield %>
  </body>
</html>
